soap/user_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UserService"
             targetNamespace="http://localhost/site/soap/soap_server.php"
             xmlns:tns="http://localhost/site/soap/soap_server.php"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="authenticateRequest">
        <part name="email" type="xsd:string"/>
        <part name="mot_de_passe" type="xsd:string"/>
    </message>
    <message name="authenticateResponse">
        <part name="token" type="xsd:string"/>
    </message>

    <message name="addUserRequest">
        <part name="token" type="xsd:string"/>
        <part name="prenom" type="xsd:string"/>
        <part name="nom" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="mot_de_passe" type="xsd:string"/>
        <part name="type" type="xsd:string"/>
    </message>
    <message name="addUserResponse">
        <part name="response" type="xsd:string"/>
    </message>

    <message name="deleteUserRequest">
        <part name="token" type="xsd:string"/>
        <part name="id" type="xsd:int"/>
    </message>
    <message name="deleteUserResponse">
        <part name="response" type="xsd:string"/>
    </message>

    <message name="modifyUserRequest">
        <part name="token" type="xsd:string"/>
        <part name="id" type="xsd:int"/>
        <part name="prenom" type="xsd:string"/>
        <part name="nom" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="mot_de_passe" type="xsd:string"/>
        <part name="type" type="xsd:string"/>
    </message>
    <message name="modifyUserResponse">
        <part name="response" type="xsd:string"/>
    </message>

    <message name="listUsersRequest">
        <part name="token" type="xsd:string"/>
    </message>
    <message name="listUsersResponse">
        <part name="users" type="xsd:string"/>
    </message>

    <portType name="UserServicePortType">
        <operation name="authenticate">
            <input message="tns:authenticateRequest"/>
            <output message="tns:authenticateResponse"/>
        </operation>
        <operation name="addUser">
            <input message="tns:addUserRequest"/>
            <output message="tns:addUserResponse"/>
        </operation>
        <operation name="deleteUser">
            <input message="tns:deleteUserRequest"/>
            <output message="tns:deleteUserResponse"/>
        </operation>
        <operation name="modifyUser">
            <input message="tns:modifyUserRequest"/>
            <output message="tns:modifyUserResponse"/>
        </operation>
        <operation name="listUsers">
            <input message="tns:listUsersRequest"/>
            <output message="tns:listUsersResponse"/>
        </operation>
    </portType>

    <binding name="UserServiceBinding" type="tns:UserServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="authenticate">
            <soap:operation soapAction="authenticate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addUser">
            <soap:operation soapAction="addUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteUser">
            <soap:operation soapAction="deleteUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="modifyUser">
            <soap:operation soapAction="modifyUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listUsers">
            <soap:operation soapAction="listUsers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="UserService">
        <port name="UserServicePort" binding="tns:UserServiceBinding">
            <soap:address location="http://localhost/site/soap/soap_server.php"/>
        </port>
    </service>
</definitions>
